# Written by github.com/zadykian/ws, whose next run replaces any change made here.
Types: deb
URIs: {{ item.uris }}
Suites: {{ item.suites }}
Components: {{ item.components }}
Signed-By: /etc/apt/keyrings/{{ item.name }}.asc
