{
  "bip": "{{ docker_bridge_ip }}/{{ docker_bridge_prefix_length }}",
  "cgroup-parent": "docker.slice",
  "default-address-pools": [
    {
      "base": "{{ docker_address_pool }}",
      "size": {{ docker_address_pool_size }}
    }
  ],
  "default-network-opts": {
    "bridge": {
      "com.docker.network.bridge.host_binding_ipv4": "{{ docker_publish_ip }}"
    }
  },
  "dns": ["{{ docker_bridge_ip }}"],
  "ip": "{{ docker_publish_ip }}",
  "live-restore": true,
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  }
}
